<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is view index</title>
</head>
<body>
    <form  action="/delete" method="post" enctype="multipart/form-data">
        <h1>Danh sách môn học</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Course Type</th>
                    <th>Semester</th>
                    <th>Department</th>
                    <th>Image</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length;i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].course_type %></td>
                    <td><%= data[i].semester %></td>
                    <td><%= data[i].department %></td>
                    <td>
                        <img src="<%=data[i].image %>" width="46" alt="<%=data[i].image %>" name="image" height="45"/>
                    </td>
                    <td><input type="checkbox" name="checked" value="<%= data[i].id %>"/></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <button type="submit">Delele</button>
    </form>
    <form action="/add" method="post" enctype="multipart/form-data">
        <h1> Thêm môn học</h1>
        <div>
            <label name="id">Id:</label>
            <input type="text" name="id" >
        </div>
        <div>
            <label name="name">Name:</label>
            <input type="text" name="name" >
        </div>
        <div>
            <label name="course_type">Course type:</label>
            <input type="text" name="course_type" >
        </div>
        <div>
            <label name="semester">Semester:</label>
            <input type="text" name="semester" >
        </div>
        <div>
            <label name="department">Department:</label>
            <input type="text" name="department" >
        </div>
        <div>
            <label name="image">Image:</label>
            <input type="file">
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>